jobs/*/log
jobs/*/finished
jobs/*/out
jobs/*/out-test
_output/
.venv/
__pycache__/
*.pyc
.quarto/
/.quarto/
.vscode
.env
*.csv
!data/in/**/*.csv
!data/out/**/*.csv
data/out/*/beta_summary.csv
CLAUDE.md
USAGE.md
*/*/hpc/sbatch.sh
**/*.quarto_ipynb
*/*/slurm-*
*/*/run-files
*/*/output.tar.gz